@font-face {
    font-family: mainfont;
    src:url("/fonts/troika.otf");
}

body { 
    margin:0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* 
.main{
    font-family: mainfont;
    background-color: pink;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
} */

.container {
    font-family: mainfont;
    font-size: 3.5em;
    text-align: center;
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.grasslands {
    color: #D1E8D1;
    background-color: #EBFCEB;
}

.desert {
    background-color: #FFE7B8;
}

.radioactive {
    background-color: #C995E5;
}

.logo {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 800px;
}

.edge {
    width:100%;  
    height:100%;  
    background-image: url("imgs/edge-web.png");
    background-repeat: repeat-x;
    min-height: 158px;
    -webkit-mask:url("imgs/edge-web.png"); 
            mask:url("imgs/edge-web.png");
    margin: -5px;
}

.youtube-div{
    position: relative;
    width: 600px; 
    height: 340px;
}

.youtube{
    border-radius: 0.3em;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%; 
    height: 100%;
}

.screenshot{
    border-radius: 0.3em;
    width:100%;
}